
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <h2>
                <%= @post.title %>
            </h2>
            <p>
                <%= @post.body %>
            </p>
            <small>
                Submitted <%= time_ago_in_words(@post.created_at) %><br>
                <% if user_signed_in? %>
                <%= link_to 'Edit', edit_post_path(@post), class: "label label-primary" %>
                <%= link_to 'Delete', post_path(@post), method: :delete, class: 'label label-danger' %>
                <% end %>
            </small>
        </div>
    </div>
</div>

<div id="comments" align="center">
  <h2>Comments</h2>
  <h4><%= @post.comments.count %> comments</h4>
  <%= render @post.comments %><br>
  <div class="col-sm-8 col-sm-offset-2">
    <h3>Post a comment</h3>
    <%= render 'comments/form' %>
</div>
</div>
